.msan-publish-new-notice{
	text-align: center;
	margin: 1em 1em;
}
.msan-publish-new-notice textarea {
	width: 100%;
	font-size: 1.5em;
	padding: .5em;
	background: #DDD;
	color: #666;
}

.msan-notices li textarea {
	width: 100%;
	font-size: 16px;
}

.msan-wrap{
	margin: auto 6em;
}

.msan-publish-new-notice .button{
	display: block;
	float: right;
	margin: 1em 0em;
	font-size: 1.25em;
	line-height: 1.5em;
	height: 2em;
	padding: 0 2em;
}
	
.msan-notices{
	margin:0;
	padding:0;
	list-style:none;
}
	
.msan-notices li{
	background: white;
	min-height: 100px;
	margin: 10px 0 10px 0;
	font-size:  1.25em;
	position: relative;
}
	
.msan-notice-message{
	padding: 20px 40px;
}
	
.msan-notice-updated:before,
.msan-update-notice:before,
.msan-cancel-update:before,
.msan-delete-notice:before,
.msan-edit-notice:before{
	font: normal 18px/1 'dashicons';
	speak: none;
	vertical-align: top;
	width: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
	
.msan-update-notice:before{content: '\f147';vertical-align: middle;}
.msan-cancel-update:before{content: '\f158';vertical-align: middle;}
.msan-edit-notice:before{content: '\f464';vertical-align: middle;}
.msan-delete-notice:before{content: '\f182';vertical-align: middle;}
.msan-notice-updated:before{ content: "\f469";}
	
.msan-notice-id,
.msan-cancel-update,
.msan-notice-updated{
	color: #888;
}
.msan-delete-notice{
	color: #A00;
}
.msan-update-notice{
	color: #5CB85C;
}	
.msan-notice-toolbar{
	font-size: .8em;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
	
.msan-notice-toolbar span{
	margin: 0 10px;
}
.msan-notice-toolbar a{
	float:right;
	margin: 0 10px;
}